.manage-outer-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.manage-review-h1 h1 {
    font-size: 25px;
    margin-left: 3rem;
}

.manage-reviews-container {
    margin: 2rem 0;
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.review {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 330px;
}

.review h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

.review-text {
    font-size: 17px;
    margin: 10px 0;
}

.manage-outer-container h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .review {
        width: 100%;
    }
}