.footer-container {
    background-color: #f7f7f7;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #333;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
}