.manage-outer-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.manage h1 {
    margin-left: 3rem;
}

.manage {
    margin: 2rem;
}

.manage-spots-container {
    margin: 5rem;
}

.manage button {
    margin-top: 1rem;
    background-color: cyan;
    color: black;
    height: 30px;
    width: 150px;
    margin-left: 3rem;
}

.buttons-del-update button,
.buttons-del-update a {
    background-color: gray;
    color: white;
    width: 75px;
    height: 30px;
}


.buttons-del-update {
    display: flex;
    align-items: center;
    margin-left: 0.3rem;
}

.spot {
    display: flex;
    flex-direction: column;
}