.create-form form {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-form h2 {
    margin: 1rem 0;
}

.create-form h3 {
    margin-top: 0.5rem;
}

.create-form h5 {
    margin: 0.3rem 0 1rem;
}

.create-form h6 {
    font-size: 12.5px;
    margin-top: 0.5rem;
}

.create-form label {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.create-form textarea {
    border: solid 2px black;
    height: 100px;
    width: 100%;
    margin: 1rem 0 0.5rem;
    background-color: rgba(176, 213, 246, 0.279);
}

.create-form button {
    margin: 1rem 0 2rem;
    width: 100px;
    height: 40px;
    color: black;
    background-color: cyan;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.3);
    align-self: center;
}

.create-form .lat {
    justify-content: center;
}

.create-form .box {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.create-form .errors {
    font-size: 11.7px;
    margin-bottom: 0.5rem;
}

.create-form input {
    border: solid 2px black;
    margin-top: 0.5rem;
    height: 25px;
    background-color: rgba(176, 213, 246, 0.279);
}


.create-form .price input {
    width: 386px;
    margin-bottom: 0.5rem;
}

.create-form .description-box {
    border-bottom: solid 2px black;
}

.create-form .spot-name input {
    margin-bottom: 0.5rem;
}

.create-form .spot-name {
    border-bottom: solid 2px black;
}

.create-form .spot-name input {
    width: 100%;
}

.create-form .cost {
    border-bottom: solid 2px black;
}

.create-form .imageUrl {
    display: flex;
    flex-direction: column;
    border-bottom: solid 2px black;
    margin-bottom: 0.5rem;
}

.create-form .imageUrl input {
    margin-bottom: 0.5rem;
}

.create-form .imgFour {
    margin-bottom: 1rem;
}

.create-form .imgFour input {
    width: 100%;
}

.city,
.lat {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.location {
    border-bottom: solid 2px black;
    margin-bottom: 1rem;
}


.city-input input {
    width: 248px;
}

.comma {
    display: flex;
    margin-right: 0.5rem;
    align-items: center;
    gap: 0.1rem;
}

.lng-input input {
    width: 210px;
}

.lat-input input {
    width: 180px;
}