.hidden {
    display: none;
}

.TitleHeader {
    font-weight: 400;
    text-decoration: none;
    color: #22930e;
    font-size: 40px;
    display: flex;
    margin-left: 35px;
}

li {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

.top {
    display: flex;
    align-items: center;
}

.top a {
    color: green;
}

.nav-wrap {
    border-bottom: solid grey;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.airBnB {
    font-size: 30px;
    height: 30px;
}

.airBnB a {
    color: black;
}

.airBnB a:hover {
    cursor: pointer;
}

.profile-dropdown {
    margin-top: .5rem;
    border: 1px solid #ccc;
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 70px;
    right: 40px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 200px;
}

.profile-dropdown.hidden {
    display: none;
}

.profile-dropdown p {
    margin: 0;
    padding: 5px 0;
}

.profile-dropdown li {
  padding: 10px 20px;
  font-size: 17px;
  transition: background-color 0.3s, color 0.3s;
}

.profile-dropdown li:hover {
    background-color: #f7f7f7;
    color: #ff385c;
  }

.profile-dropdown a {
    text-decoration: none;
    color: #000;
}

.profile-dropdown button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
}

.profile-dropdown button:hover {
    background-color: #d32f2f;
}