.info {
    font-size: 16px;
    margin-bottom: 1rem;
}

.spot-box h1 {
    font-size: 30px;
    margin-bottom: 1rem;
}

.spot-box {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
  }

.box {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}


.host-side h2 {
    margin-bottom: 1rem;
}


.header-host {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 2px black;
}

.reserve {
    border: solid 2px black;
    margin-top: 10px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 350px;
    border-radius: 8px;
}

.host {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    justify-content: space-evenly;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    max-width: 950px;
}

.img1 img,
.img2 img {
  border-radius: 5px;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img1 img {
    max-height: 400px;
    width: 100%;
}

.img2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    width: 500px;
}

.img2 img {
    height: 195px;
    width: 100%;
}

.post-review-modal button {
    width: 150px;
    height: 35px;
    background-color: cyan;
    color: black;
}

.money {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.75rem;
    justify-content: space-between;
    width: 300px;
}

.new-post {
    position: static;
}

@media (max-width: 1300px) {
    .img2 {
        grid: auto-flow / 1fr 1fr;
    }

    .img1 {
        width: 480px;
    }

    .img img {
        height: fit-content;
    }

    .img2 {
        width: 480px;
    }
}

@media (max-width: 1100px) {
    .img2 {
        grid: auto-flow / 1fr 1fr;
    }

    .img1 {
        width: 440px;
    }

    .img img {
        height: fit-content;
    }

    .img2 {
        width: 440px;
    }
}

@media (max-width: 900px) {
    .img2 {
        grid: auto-flow / 1fr 1fr;
    }

    .img1 {
        width: 350px;
    }

    .img img {
        height: fit-content;
    }

    .img2 {
        width: 350px;
    }
}